{% extends "templates/base.html" %}
{%load static %}
{% block conteudo %}
    <style>
        .imagem-produto{
            max-width: 150px;
            max-height: 100px;
        }
    </style>
    Listagem de produtos <a href="cadastrar"> Novo produto </a> 
    {% for produtos_vendedor in produtos_dos_vendedores %}
        <div> 
            <h3> {{produtos_vendedor.vendedor.nome}} </h3>
        </div>
        <ul style="list-style-type:none;">
        {% for produto in produtos_vendedor.produtos %}
            <li>
                {{ produto.nome}} -- R$ {{ produto.preco}} 
            </li>
            <a href="{{produto.id}}"> verificar detalhes </a>
            {% if produto.imagem %}
                <img src={{ produto.imagem.url }} class="imagem-produto"/>
            {%else%}
                <img src={% static "/imagem/padrao_produto.png"%} class="imagem-produto"/>
            {%endif%}
        {% endfor%}
        </ul>
    {% endfor%}
{% endblock conteudo %}