{% extends "templates/base.html" %}

{% block conteudo %}
    Listagem de serviços <a href="cadastrar"> Novo produto </a> 
    {% for servico_do_vendedor in servicos_do_vendedores %}
        <div> 
            <h3> {{servico_do_vendedor.vendedor.nome}} </h3>
        </div>
        <ul style="list-style-type:none;">
        {% for servico in servico_do_vendedor.servicos %}
            <li>{{ servico.nome}} -- R$ {{ servico.preco}} </li><a href="{{servico.id}}"> verificar detalhes </a>
        {% endfor%}
        </ul>
    {% endfor%}
{% endblock conteudo %}